# Step 1: Initialization

In [283]:
import numpy as np
import pandas as pd

#create dataframe from flight data csv
flights_raw = pd.read_csv(r"C:\Users\mm183\Documents\flight_data\flight_data.csv")

#explore data
print(flights_raw.shape)
print(flights_raw.dtypes)
print(flights_raw.head())
print(flights_raw.tail())

(1856061, 43)
QUARTER                    int64
MONTH                      int64
DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
FL_DATE                   object
UNIQUE_CARRIER            object
FL_NUM                     int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN                    object
ORIGIN_CITY_NAME          object
ORIGIN_STATE_ABR          object
ORIGIN_STATE_NM           object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST_CITY_MARKET_ID        int64
DEST                      object
DEST_CITY_NAME            object
DEST_STATE_ABR            object
DEST_STATE_NM             object
CRS_DEP_TIME               int64
DEP_TIME                 float64
DEP_DELAY                float64
DEP_DELAY_NEW            float64
WHEELS_ON                float64
TAXI_IN                  float64
CRS_ARR_TIME               int64
ARR_TIME                 float64
ARR_DELAY                float64
ARR_DELAY_NEW            float64
CRS_ELAPSED_TIME         float64
ACTUAL_ELAPSED_TIME      float64
AIR_TIME                 float64
FLIGHTS                  float64
DISTANCE                 float64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
NAS_DELAY                float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
FIRST_DEP_TIME           float64
Unnamed: 42              float64
dtype: object
   QUARTER  MONTH  DAY_OF_MONTH  DAY_OF_WEEK     FL_DATE UNIQUE_CARRIER  \
0        1      1             3            7  2016-01-03             F9
1        1      1             3            7  2016-01-03             F9
2        1      1             3            7  2016-01-03             F9
3        1      1             3            7  2016-01-03             F9
4        1      1             3            7  2016-01-03             F9

   FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID  ORIGIN_CITY_MARKET_ID  \
0     694              11292                1129202                  30325
1     809              14027                1402702                  34027
2     907              15356                1535602                  35356
3     908              14492                1449202                  34492
4     915              15356                1535602                  35356

      ...     AIR_TIME FLIGHTS DISTANCE CARRIER_DELAY  WEATHER_DELAY  \
0     ...         87.0     1.0    692.0           NaN            NaN
1     ...        224.0     1.0   1679.0          19.0            0.0
2     ...         60.0     1.0    373.0           NaN            NaN
3     ...         57.0     1.0    373.0           NaN            NaN
4     ...        107.0     1.0    693.0           2.0            0.0

   NAS_DELAY  SECURITY_DELAY LATE_AIRCRAFT_DELAY FIRST_DEP_TIME Unnamed: 42
0        NaN             NaN                 NaN            NaN         NaN
1        0.0             0.0                 0.0            NaN         NaN
2        NaN             NaN                 NaN            NaN         NaN
3        NaN             NaN                 NaN            NaN         NaN
4       18.0             0.0                 0.0            NaN         NaN

[5 rows x 43 columns]
         QUARTER  MONTH  DAY_OF_MONTH  DAY_OF_WEEK     FL_DATE UNIQUE_CARRIER  \
1856056        4     12            30            5  2016-12-30             DL
1856057        4     12            30            5  2016-12-30             DL
1856058        4     12            30            5  2016-12-30             DL
1856059        4     12            30            5  2016-12-30             DL
1856060        4     12            30            5  2016-12-30             DL

         FL_NUM  ORIGIN_AIRPORT_ID  ORIGIN_AIRPORT_SEQ_ID  \
1856056    2034              11697                1169704
1856057    2035              10397                1039705
1856058    2035              13342                1334205
1856059    2036              10397                1039705
1856060    2036              14635                1463502

         ORIGIN_CITY_MARKET_ID     ...     AIR_TIME FLIGHTS DISTANCE  \
1856056                  32467     ...         88.0     1.0    581.0
1856057                  30397     ...        105.0     1.0    669.0
1856058                  33342     ...         89.0     1.0    669.0
1856059                  30397     ...         71.0     1.0    515.0
1856060                  31714     ...         85.0     1.0    515.0

        CARRIER_DELAY  WEATHER_DELAY  NAS_DELAY  SECURITY_DELAY  \
1856056           NaN            NaN        NaN             NaN
1856057           NaN            NaN        NaN             NaN
1856058           NaN            NaN        NaN             NaN
1856059           NaN            NaN        NaN             NaN
1856060           NaN            NaN        NaN             NaN

        LATE_AIRCRAFT_DELAY FIRST_DEP_TIME Unnamed: 42
1856056                 NaN            NaN         NaN
1856057                 NaN            NaN         NaN
1856058                 NaN            NaN         NaN
1856059                 NaN            NaN         NaN
1856060                 NaN            NaN         NaN

[5 rows x 43 columns]

# Step 2: Make data more palatable 
  - reformat headers and reindex
  - address missing values

In [284]:
#make column names lowercase
flights_raw.columns = map(str.lower, flights_raw.columns)

#view percentage of columns consisting of NaN
print(flights_raw.isnull().mean())

quarter                  0.000000
month                    0.000000
day_of_month             0.000000
day_of_week              0.000000
fl_date                  0.000000
unique_carrier           0.000000
fl_num                   0.000000
origin_airport_id        0.000000
origin_airport_seq_id    0.000000
origin_city_market_id    0.000000
origin                   0.000000
origin_city_name         0.000000
origin_state_abr         0.000000
origin_state_nm          0.000000
dest_airport_id          0.000000
dest_airport_seq_id      0.000000
dest_city_market_id      0.000000
dest                     0.000000
dest_city_name           0.000000
dest_state_abr           0.000000
dest_state_nm            0.000000
crs_dep_time             0.000000
dep_time                 0.014290
dep_delay                0.014290
dep_delay_new            0.014290
wheels_on                0.015120
taxi_in                  0.015120
crs_arr_time             0.000000
arr_time                 0.015120
arr_delay                0.017057
arr_delay_new            0.017057
crs_elapsed_time         0.000002
actual_elapsed_time      0.017057
air_time                 0.017057
flights                  0.000000
distance                 0.000000
carrier_delay            0.818558
weather_delay            0.818558
nas_delay                0.818558
security_delay           0.818558
late_aircraft_delay      0.818558
first_dep_time           0.993894
unnamed: 42              1.000000
dtype: float64

In [285]:
'''reindex and sort dataframe using descriptive columns without missing values
    - combinations of flight date, origin, destination, carrier, and flight number correspond to individual flights
'''
flights = flights_raw.set_index(['fl_date','origin','dest','unique_carrier','fl_num']).sort_index()

#verify index values are unique i.e. there are no duplicate flights
assert len(flights.index) == len(flights.index.unique()), "Index values are not unique"

In [286]:
#make lists of columns with high proportions of missing values and columns with low proportions of missing values
high_per_nan = [col for col in flights if flights[col].isnull().mean() > .5 ]
low_per_nan = [col for col in flights if 0 < flights[col].isnull().mean() < .5]

#browse dataframes with high and low proportions of missing values
print('high_per_nan', flights[high_per_nan].head())
print('low_per_nan', flights[low_per_nan].head())

high_per_nan                                               carrier_delay  weather_delay  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197              NaN            NaN
                                      5579             22.0            0.0
                  ORD  EV             6021             21.0            0.0
           ABQ    ATL  DL             1784              NaN            NaN
                                      2007              NaN            NaN

                                              nas_delay  security_delay  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197          NaN             NaN
                                      5579          0.0             0.0
                  ORD  EV             6021          0.0             0.0
           ABQ    ATL  DL             1784          NaN             NaN
                                      2007          NaN             NaN

                                              late_aircraft_delay  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                    NaN
                                      5579                    0.0
                  ORD  EV             6021                    0.0
           ABQ    ATL  DL             1784                    NaN
                                      2007                    NaN

                                              first_dep_time  unnamed: 42
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197               NaN          NaN
                                      5579               NaN          NaN
                  ORD  EV             6021               NaN          NaN
           ABQ    ATL  DL             1784               NaN          NaN
                                      2007               NaN          NaN
low_per_nan                                               dep_time  dep_delay  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197      1609.0       -1.0
                                      5579       700.0       30.0
                  ORD  EV             6021       718.0       27.0
           ABQ    ATL  DL             1784      1341.0       26.0
                                      2007       757.0       -3.0

                                              dep_delay_new  wheels_on  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197              0.0     1812.0
                                      5579             30.0      900.0
                  ORD  EV             6021             27.0      824.0
           ABQ    ATL  DL             1784             26.0     1813.0
                                      2007              0.0     1230.0

                                              taxi_in  arr_time  arr_delay  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197        5.0    1817.0      -11.0
                                      5579        7.0     907.0       22.0
                  ORD  EV             6021        8.0     832.0       21.0
           ABQ    ATL  DL             1784        6.0    1819.0        9.0
                                      2007        4.0    1234.0      -24.0

                                              arr_delay_new  crs_elapsed_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197              0.0             138.0
                                      5579             22.0             135.0
                  ORD  EV             6021             21.0             140.0
           ABQ    ATL  DL             1784              9.0             175.0
                                      2007              0.0             178.0

                                              actual_elapsed_time  air_time
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                  128.0     115.0
                                      5579                  127.0     111.0
                  ORD  EV             6021                  134.0     117.0
           ABQ    ATL  DL             1784                  158.0     139.0
                                      2007                  157.0     142.0

In [287]:
'''set aside columns containing high percentage of missing values
    - such columns contain circumstantial flight delay information for a small proportion of total flights
'''
#create dataframe containing high percentage NaN columns
hpn_cols = flights[high_per_nan]

#drop columns from flights dataframe
flights = flights.drop(columns=high_per_nan)

In [288]:
'''explore columns containing low percentage of missing values
    - create dataframe of columns with low percentage of NaN values
    - view descriptive statistics
    - view standard deviation of columns as percentage of mean to gauge variability
    - view percentage of total rows containing missing values
'''
lpn_cols = flights[low_per_nan]
print(lpn_cols.describe(include='all'))
print('coefficient of variation:','\n', lpn_cols.apply(lambda x: (x.std() / x.mean()) * 100))
print('percent of rows containing nan:', (len(flights[flights.isnull().any(axis=1)]) / len(flights)) * 100)

           dep_time     dep_delay  dep_delay_new     wheels_on       taxi_in  \
count  1.829537e+06  1.829537e+06   1.829537e+06  1.827997e+06  1.827997e+06
mean   1.334419e+03  9.812064e+00   1.267238e+01  1.471640e+03  7.562686e+00
std    5.004642e+02  4.166410e+01   4.064121e+01  5.270121e+02  6.047238e+00
min    1.000000e+00 -6.000000e+01   0.000000e+00  1.000000e+00  1.000000e+00
25%    9.200000e+02 -5.000000e+00   0.000000e+00  1.053000e+03  4.000000e+00
50%    1.329000e+03 -2.000000e+00   0.000000e+00  1.510000e+03  6.000000e+00
75%    1.741000e+03  7.000000e+00   7.000000e+00  1.914000e+03  9.000000e+00
max    2.400000e+03  2.040000e+03   2.040000e+03  2.400000e+03  2.500000e+02

           arr_time     arr_delay  arr_delay_new  crs_elapsed_time  \
count  1.827997e+06  1.824403e+06   1.824403e+06      1.856058e+06
mean   1.476238e+03  4.206204e+00   1.259892e+01      1.463799e+02
std    5.314493e+02  4.389959e+01   4.031154e+01      7.673182e+01
min    1.000000e+00 -1.070000e+02   0.000000e+00      2.000000e+01
25%    1.057000e+03 -1.400000e+01   0.000000e+00      9.000000e+01
50%    1.514000e+03 -6.000000e+00   0.000000e+00      1.270000e+02
75%    1.919000e+03  7.000000e+00   7.000000e+00      1.790000e+02
max    2.400000e+03  2.028000e+03   2.028000e+03      7.050000e+02

       actual_elapsed_time      air_time
count         1.824403e+06  1.824403e+06
mean          1.408941e+02  1.169484e+02
std           7.587500e+01  7.374921e+01
min           1.400000e+01  7.000000e+00
25%           8.400000e+01  6.200000e+01
50%           1.220000e+02  9.800000e+01
75%           1.740000e+02  1.480000e+02
max           7.780000e+02  7.230000e+02
coefficient of variation:
 dep_time                 37.504289
dep_delay               424.621133
dep_delay_new           320.707076
wheels_on                35.811217
taxi_in                  79.961506
arr_time                 36.000251
arr_delay              1043.686695
arr_delay_new           319.960209
crs_elapsed_time         52.419633
actual_elapsed_time      53.852505
air_time                 63.061303
dtype: float64
percent of rows containing nan: 1.7056551481874787

In [289]:
'''set aside rows containing missing values from flights dataframe
    - due to high variability in critical columns (pertaining to delay times) imputation of means would not be appropriate
    - rows constitute small percentage of total data
    - still possible at a later point to calculate missing values from remaining delay information
'''
#create dataframe of rows with null values
nan_rows = flights[flights.isnull().any(axis=1)]

#drop rows with null values from flights
flights = flights.drop(nan_rows.index)

#view percentage of remaining columns consisting of NaN 
print(flights.isnull().mean())

#view shape of resulting flights dataframe
print(flights.shape)

quarter                  0.0
month                    0.0
day_of_month             0.0
day_of_week              0.0
origin_airport_id        0.0
origin_airport_seq_id    0.0
origin_city_market_id    0.0
origin_city_name         0.0
origin_state_abr         0.0
origin_state_nm          0.0
dest_airport_id          0.0
dest_airport_seq_id      0.0
dest_city_market_id      0.0
dest_city_name           0.0
dest_state_abr           0.0
dest_state_nm            0.0
crs_dep_time             0.0
dep_time                 0.0
dep_delay                0.0
dep_delay_new            0.0
wheels_on                0.0
taxi_in                  0.0
crs_arr_time             0.0
arr_time                 0.0
arr_delay                0.0
arr_delay_new            0.0
crs_elapsed_time         0.0
actual_elapsed_time      0.0
air_time                 0.0
flights                  0.0
distance                 0.0
dtype: float64
(1824403, 31)

# Step 3: Evaluate remaining data
  - reshape if necessary
  - drop redundant columns

In [290]:
#view dtypes for remaining columns
flights.dtypes

quarter                    int64
month                      int64
day_of_month               int64
day_of_week                int64
origin_airport_id          int64
origin_airport_seq_id      int64
origin_city_market_id      int64
origin_city_name          object
origin_state_abr          object
origin_state_nm           object
dest_airport_id            int64
dest_airport_seq_id        int64
dest_city_market_id        int64
dest_city_name            object
dest_state_abr            object
dest_state_nm             object
crs_dep_time               int64
dep_time                 float64
dep_delay                float64
dep_delay_new            float64
wheels_on                float64
taxi_in                  float64
crs_arr_time               int64
arr_time                 float64
arr_delay                float64
arr_delay_new            float64
crs_elapsed_time         float64
actual_elapsed_time      float64
air_time                 float64
flights                  float64
distance                 float64
dtype: object

In [291]:
'''separate columns based on component of flight information
    - date
    - location (origin & destination)
    - status timestamps and other metrics
'''
#create dataframes for groups of columns
date_info = flights.loc[:, 'quarter':'day_of_week']
location_info = flights.loc[:, 'origin_airport_id':'dest_state_nm']
flight_metrics = flights.loc[:, 'crs_dep_time':'distance']

In [292]:
'''define function for creating dictionary with unique values in columns in given dataframe
    - key as column name
    - value as array of unique values in column 
    - sort array for readability
'''
def uv_dict(dataframe):
    unique_col_values = {col: array for (col, array) in [(col, dataframe[col].unique()) for col in dataframe]}
    for col, array in unique_col_values.items():
        array = array.sort()
    return unique_col_values

### Date

In [293]:
#view unique values in flight date columns
print(uv_dict(date_info))

#view columns pertaining to flight date
date_info.head()

{'quarter': array([1, 3, 4], dtype=int64), 'month': array([ 1,  8, 11, 12], dtype=int64), 'day_of_month': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype=int64), 'day_of_week': array([1, 2, 3, 4, 5, 6, 7], dtype=int64)}

                                              quarter  month  day_of_month  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197          1      1             1
                                      5579          1      1             1
                  ORD  EV             6021          1      1             1
           ABQ    ATL  DL             1784          1      1             1
                                      2007          1      1             1

                                              day_of_week
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197              5
                                      5579              5
                  ORD  EV             6021              5
           ABQ    ATL  DL             1784              5
                                      2007              5

Keep all columns containing flight date information in flights dataframe
- may prove useful in further analysis/storytelling

## Location

### Bureau of Transportation Statistics Definitions
(https://www.transtats.bts.gov/Fields.asp?Table_ID=292)

OriginAirportID 
    - An identification number assigned by US DOT to identify a unique airport. Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.	
OriginAirportSeqID	
    - An identification number assigned by US DOT to identify a unique airport at a given point of time. Airport attributes, such as airport name or coordinates, may change over time.	
OriginCityMarketID	
    - City Market ID is an identification number assigned by US DOT to identify a city market. Use this field to consolidate airports serving the same city market.	
Origin	
    - Origin Airport		
OriginCityName
    - Origin City		 
OriginStateAbr	
    - Origin State abbreviation		
OriginStateName	
    - Origin Airport, State Name
DestAirportID 
    - An identification number assigned by US DOT to identify a unique airport. Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.	
DestAirportSeqID	
    - An identification number assigned by US DOT to identify a unique airport at a given point of time. Airport attributes, such as airport name or coordinates, may change over time.	
DestCityMarketID	
    - City Market ID is an identification number assigned by US DOT to identify a city market. Use this field to consolidate airports serving the same city market.	
Dest	
    - Destination Airport		
DestCityName
    - Destination City		 
DestStateAbr	
    - Destination State abbreviation		
DestStateName	
    - Destination Airport, State Name

In [294]:
#create dictionary of unique values in location columns
location_uv = uv_dict(location_info)
print(location_uv)

#view columns pertaining to flight location
location_info.head()

{'origin_airport_id': array([10135, 10136, 10140, 10141, 10146, 10154, 10155, 10157, 10158,
       10165, 10170, 10185, 10208, 10245, 10257, 10279, 10299, 10333,
       10372, 10397, 10408, 10423, 10431, 10434, 10469, 10529, 10551,
       10561, 10577, 10581, 10599, 10620, 10627, 10631, 10666, 10685,
       10693, 10713, 10721, 10728, 10731, 10732, 10739, 10747, 10754,
       10779, 10781, 10785, 10792, 10800, 10821, 10849, 10868, 10874,
       10918, 10926, 10980, 10990, 10994, 11003, 11013, 11042, 11049,
       11057, 11066, 11076, 11097, 11109, 11122, 11140, 11146, 11150,
       11193, 11203, 11252, 11259, 11267, 11278, 11292, 11298, 11308,
       11336, 11337, 11413, 11423, 11433, 11447, 11471, 11481, 11495,
       11503, 11525, 11537, 11540, 11577, 11587, 11603, 11612, 11617,
       11618, 11624, 11630, 11637, 11638, 11641, 11648, 11695, 11697,
       11721, 11775, 11778, 11823, 11865, 11867, 11884, 11898, 11905,
       11921, 11953, 11973, 11977, 11980, 11982, 11986, 11995, 11996,
       11997, 12003, 12007, 12012, 12016, 12094, 12129, 12156, 12173,
       12177, 12191, 12197, 12206, 12217, 12250, 12255, 12264, 12265,
       12266, 12278, 12280, 12323, 12335, 12339, 12343, 12389, 12391,
       12397, 12402, 12441, 12448, 12451, 12478, 12511, 12519, 12523,
       12758, 12819, 12884, 12888, 12889, 12891, 12892, 12896, 12898,
       12915, 12945, 12951, 12953, 12954, 12982, 12992, 13029, 13061,
       13076, 13127, 13158, 13184, 13198, 13204, 13230, 13232, 13241,
       13244, 13256, 13264, 13277, 13296, 13303, 13342, 13344, 13360,
       13367, 13377, 13388, 13422, 13433, 13459, 13476, 13485, 13486,
       13487, 13495, 13502, 13541, 13577, 13795, 13796, 13830, 13851,
       13871, 13873, 13891, 13930, 13931, 13933, 13964, 13970, 14006,
       14025, 14027, 14057, 14082, 14098, 14100, 14107, 14108, 14109,
       14113, 14122, 14150, 14193, 14222, 14252, 14254, 14256, 14262,
       14307, 14321, 14457, 14487, 14489, 14492, 14520, 14524, 14543,
       14570, 14574, 14576, 14588, 14633, 14635, 14674, 14679, 14683,
       14685, 14689, 14696, 14698, 14709, 14711, 14730, 14747, 14771,
       14783, 14794, 14814, 14828, 14831, 14842, 14843, 14869, 14893,
       14905, 14908, 14952, 14960, 14986, 15016, 15024, 15027, 15041,
       15070, 15096, 15249, 15304, 15323, 15356, 15370, 15376, 15380,
       15389, 15401, 15411, 15412, 15497, 15607, 15624, 15841, 15897,
       15919, 15991, 16218], dtype=int64), 'origin_airport_seq_id': array([1013503, 1013603, 1014003, 1014103, 1014602, 1015403, 1015502,
       1015703, 1015804, 1016503, 1016504, 1017001, 1018502, 1020803,
       1024502, 1025702, 1027903, 1029904, 1033302, 1037203, 1039705,
       1040803, 1042302, 1043103, 1043403, 1046902, 1052904, 1055102,
       1056103, 1057703, 1058102, 1059904, 1062002, 1062702, 1063104,
       1066602, 1068502, 1069302, 1071302, 1072102, 1072804, 1073103,
       1073203, 1073905, 1074702, 1075403, 1077902, 1078103, 1078502,
       1079204, 1080003, 1082103, 1082104, 1084903, 1086803, 1087402,
       1091802, 1092603, 1098002, 1099002, 1099003, 1099402, 1100303,
       1101303, 1104203, 1104902, 1105703, 1106603, 1107602, 1109702,
       1110902, 1112203, 1114005, 1114006, 1114604, 1115003, 1119302,
       1120302, 1125203, 1125903, 1126702, 1127803, 1129202, 1129804,
       1130802, 1133602, 1133703, 1141304, 1142304, 1143302, 1144703,
       1147103, 1148102, 1149502, 1150303, 1152503, 1153703, 1154003,
       1157704, 1158702, 1160302, 1161204, 1161706, 1161802, 1162402,
       1163002, 1163703, 1163805, 1164102, 1164802, 1169502, 1169704,
       1172103, 1177502, 1177801, 1182304, 1186502, 1186703, 1188402,
       1189802, 1190502, 1192102, 1195302, 1197302, 1197702, 1197703,
       1198002, 1198202, 1198603, 1199502, 1199603, 1199702, 1200302,
       1200702, 1201203, 1201602, 1209402, 1212903, 1215603, 1217302,
       1217703, 1219102, 1219702, 1220603, 1221702, 1225002, 1225502,
       1226402, 1226503, 1226603, 1227803, 1228002, 1232303, 1233502,
       1233904, 1234303, 1238902, 1239102, 1239702, 1240203, 1244102,
       1244805, 1245102, 1247803, 1251102, 1251902, 1252304, 1275803,
       1281902, 1288403, 1288802, 1288903, 1289102, 1289203, 1289204,
       1289605, 1289803, 1289804, 1291503, 1294503, 1295104, 1295302,
       1295402, 1295403, 1298202, 1299204, 1302902, 1306104, 1307603,
       1312702, 1315802, 1318403, 1319801, 1320402, 1323002, 1323202,
       1324102, 1324402, 1325602, 1326403, 1327702, 1329604, 1330303,
       1334205, 1334402, 1336003, 1336703, 1337702, 1338801, 1342202,
       1343302, 1345902, 1347603, 1348502, 1348602, 1348702, 1349503,
       1350202, 1354102, 1357702, 1379502, 1379604, 1383002, 1385103,
       1387102, 1387303, 1389101, 1393004, 1393102, 1393303, 1396403,
       1397003, 1400602, 1402501, 1402702, 1405702, 1408202, 1409803,
       1410002, 1410702, 1410803, 1410902, 1411302, 1412202, 1415002,
       1419304, 1422204, 1425202, 1425403, 1425603, 1426204, 1430702,
       1432103, 1445702, 1448702, 1448902, 1449202, 1452002, 1452401,
       1454302, 1457002, 1457403, 1457604, 1458801, 1463303, 1463502,
       1467402, 1467903, 1468303, 1468502, 1468902, 1469606, 1469802,
       1470903, 1471102, 1473003, 1474703, 1477102, 1478302, 1479403,
       1481402, 1482803, 1483103, 1483104, 1484202, 1484304, 1486903,
       1489302, 1490503, 1490803, 1495203, 1496002, 1498603, 1501603,
       1502403, 1502704, 1504102, 1507002, 1509602, 1524904, 1530402,
       1532302, 1535602, 1537002, 1537602, 1538003, 1538902, 1540103,
       1541103, 1541203, 1549703, 1560702, 1562402, 1584102, 1589702,
       1591902, 1599102, 1621801], dtype=int64), 'origin_city_market_id': array([30070, 30073, 30107, 30113, 30135, 30136, 30140, 30141, 30146,
       30154, 30155, 30157, 30158, 30165, 30185, 30189, 30194, 30198,
       30208, 30245, 30255, 30257, 30279, 30285, 30299, 30325, 30333,
       30372, 30397, 30408, 30423, 30424, 30431, 30434, 30436, 30466,
       30469, 30476, 30529, 30559, 30561, 30562, 30577, 30581, 30599,
       30615, 30620, 30627, 30631, 30647, 30666, 30685, 30693, 30713,
       30721, 30728, 30731, 30732, 30739, 30747, 30779, 30781, 30785,
       30792, 30849, 30852, 30868, 30894, 30913, 30918, 30928, 30977,
       30980, 30990, 30994, 31003, 31013, 31049, 31057, 31066, 31076,
       31097, 31122, 31123, 31135, 31136, 31140, 31146, 31150, 31205,
       31252, 31267, 31295, 31308, 31336, 31337, 31401, 31423, 31447,
       31453, 31454, 31471, 31481, 31503, 31504, 31517, 31525, 31537,
       31577, 31587, 31603, 31612, 31617, 31624, 31637, 31638, 31641,
       31648, 31650, 31695, 31703, 31714, 31721, 31775, 31778, 31823,
       31834, 31865, 31867, 31871, 31884, 31895, 31898, 31905, 31921,
       31953, 31973, 31977, 31980, 31982, 31986, 31995, 31997, 32012,
       32016, 32070, 32129, 32134, 32156, 32177, 32206, 32211, 32250,
       32255, 32265, 32280, 32323, 32335, 32337, 32343, 32389, 32397,
       32402, 32441, 32448, 32457, 32467, 32511, 32519, 32523, 32547,
       32575, 32600, 32758, 32884, 32888, 32891, 32896, 32898, 32945,
       32951, 32982, 33029, 33038, 33044, 33076, 33105, 33127, 33158,
       33184, 33192, 33195, 33198, 33214, 33241, 33244, 33256, 33264,
       33277, 33304, 33316, 33342, 33344, 33360, 33367, 33377, 33388,
       33459, 33485, 33486, 33495, 33502, 33541, 33570, 33667, 33728,
       33785, 33792, 33795, 33830, 33851, 33873, 33933, 33964, 33970,
       34006, 34025, 34027, 34057, 34082, 34100, 34108, 34109, 34113,
       34150, 34222, 34236, 34252, 34254, 34256, 34262, 34321, 34457,
       34489, 34492, 34520, 34524, 34543, 34570, 34574, 34576, 34588,
       34614, 34653, 34674, 34685, 34689, 34696, 34699, 34711, 34783,
       34794, 34819, 34828, 34842, 34905, 34922, 34945, 34952, 34960,
       34986, 34992, 35041, 35096, 35249, 35323, 35356, 35380, 35389,
       35401, 35411, 35412, 35497, 35550, 35841, 35897, 35991],
      dtype=int64), 'origin_city_name': array(['Aberdeen, SD', 'Abilene, TX', 'Adak Island, AK', 'Aguadilla, PR',
       'Akron, OH', 'Albany, GA', 'Albany, NY', 'Albuquerque, NM',
       'Alexandria, LA', 'Allentown/Bethlehem/Easton, PA', 'Alpena, MI',
       'Amarillo, TX', 'Anchorage, AK', 'Appleton, WI',
       'Arcata/Eureka, CA', 'Asheville, NC', 'Aspen, CO', 'Atlanta, GA',
       'Atlantic City, NJ', 'Augusta, GA', 'Austin, TX',
       'Bakersfield, CA', 'Baltimore, MD', 'Bangor, ME', 'Barrow, AK',
       'Baton Rouge, LA', 'Beaumont/Port Arthur, TX', 'Bellingham, WA',
       'Bemidji, MN', 'Bend/Redmond, OR', 'Bethel, AK', 'Billings, MT',
       'Binghamton, NY', 'Birmingham, AL', 'Bismarck/Mandan, ND',
       'Bloomington/Normal, IL', 'Boise, ID', 'Boston, MA', 'Bozeman, MT',
       'Brainerd, MN', 'Bristol/Johnson City/Kingsport, TN',
       'Brownsville, TX', 'Brunswick, GA', 'Buffalo, NY', 'Burbank, CA',
       'Burlington, VT', 'Butte, MT', 'Casper, WY', 'Cedar City, UT',
       'Cedar Rapids/Iowa City, IA', 'Charleston, SC',
       'Charleston/Dunbar, WV', 'Charlotte Amalie, VI', 'Charlotte, NC',
       'Charlottesville, VA', 'Chattanooga, TN', 'Chicago, IL',
       'Christiansted, VI', 'Cincinnati, OH', 'Cleveland, OH', 'Cody, WY',
       'College Station/Bryan, TX', 'Colorado Springs, CO',
       'Columbia, SC', 'Columbus, GA', 'Columbus, MS', 'Columbus, OH',
       'Cordova, AK', 'Corpus Christi, TX', 'Dallas, TX',
       'Dallas/Fort Worth, TX', 'Dayton, OH', 'Daytona Beach, FL',
       'Deadhorse, AK', 'Denver, CO', 'Des Moines, IA', 'Detroit, MI',
       'Devils Lake, ND', 'Dillingham, AK', 'Dothan, AL', 'Duluth, MN',
       'Durango, CO', 'Eagle, CO', 'Eau Claire, WI', 'El Paso, TX',
       'Elko, NV', 'Elmira/Corning, NY', 'Erie, PA', 'Escanaba, MI',
       'Eugene, OR', 'Evansville, IN', 'Fairbanks, AK', 'Fargo, ND',
       'Fayetteville, AR', 'Fayetteville, NC', 'Flagstaff, AZ',
       'Flint, MI', 'Fort Lauderdale, FL', 'Fort Myers, FL',
       'Fort Smith, AR', 'Fort Wayne, IN', 'Fresno, CA',
       'Gainesville, FL', 'Garden City, KS', 'Gillette, WY',
       'Grand Forks, ND', 'Grand Island, NE', 'Grand Junction, CO',
       'Grand Rapids, MI', 'Great Falls, MT', 'Green Bay, WI',
       'Greensboro/High Point, NC', 'Greer, SC', 'Guam, TT',
       'Gulfport/Biloxi, MS', 'Gunnison, CO', 'Gustavus, AK',
       'Hancock/Houghton, MI', 'Harlingen/San Benito, TX',
       'Harrisburg, PA', 'Hartford, CT', 'Hattiesburg/Laurel, MS',
       'Hayden, CO', 'Hays, KS', 'Helena, MT', 'Hibbing, MN', 'Hilo, HI',
       'Hobbs, NM', 'Honolulu, HI', 'Houston, TX', 'Huntsville, AL',
       'Hyannis, MA', 'Idaho Falls, ID', 'Indianapolis, IN',
       'International Falls, MN', 'Iron Mountain/Kingsfd, MI',
       'Islip, NY', 'Ithaca/Cortland, NY', 'Jackson, WY',
       'Jackson/Vicksburg, MS', 'Jacksonville, FL',
       'Jacksonville/Camp Lejeune, NC', 'Jamestown, ND', 'Joplin, MO',
       'Juneau, AK', 'Kahului, HI', 'Kalamazoo, MI', 'Kalispell, MT',
       'Kansas City, MO', 'Ketchikan, AK', 'Key West, FL', 'Killeen, TX',
       'King Salmon, AK', 'Knoxville, TN', 'Kodiak, AK', 'Kona, HI',
       'Kotzebue, AK', 'La Crosse, WI', 'Lafayette, LA',
       'Lake Charles, LA', 'Lansing, MI', 'Laramie, WY', 'Laredo, TX',
       'Las Vegas, NV', 'Latrobe, PA', 'Lawton/Fort Sill, OK',
       'Lewiston, ID', 'Lexington, KY', 'Lihue, HI', 'Lincoln, NE',
       'Little Rock, AR', 'Long Beach, CA', 'Longview, TX',
       'Los Angeles, CA', 'Louisville, KY', 'Lubbock, TX', 'Madison, WI',
       'Mammoth Lakes, CA', 'Manchester, NH', 'Marquette, MI',
       "Martha's Vineyard, MA", 'Medford, OR', 'Melbourne, FL',
       'Memphis, TN', 'Meridian, MS', 'Miami, FL', 'Midland/Odessa, TX',
       'Milwaukee, WI', 'Minneapolis, MN', 'Minot, ND',
       'Mission/McAllen/Edinburg, TX', 'Missoula, MT', 'Mobile, AL',
       'Moline, IL', 'Monroe, LA', 'Monterey, CA', 'Montgomery, AL',
       'Montrose/Delta, CO', 'Mosinee, WI', 'Muskegon, MI',
       'Myrtle Beach, SC', 'Nantucket, MA', 'Nashville, TN',
       'New Bern/Morehead/Beaufort, NC', 'New Orleans, LA',
       'New York, NY', 'Newark, NJ', 'Newburgh/Poughkeepsie, NY',
       'Newport News/Williamsburg, VA', 'Niagara Falls, NY', 'Nome, AK',
       'Norfolk, VA', 'North Bend/Coos Bay, OR', 'Oakland, CA',
       'Oklahoma City, OK', 'Omaha, NE', 'Ontario, CA', 'Orlando, FL',
       'Paducah, KY', 'Pago Pago, TT', 'Palm Springs, CA',
       'Panama City, FL', 'Pasco/Kennewick/Richland, WA', 'Pellston, MI',
       'Pensacola, FL', 'Peoria, IL', 'Petersburg, AK',
       'Philadelphia, PA', 'Phoenix, AZ', 'Pittsburgh, PA',
       'Plattsburgh, NY', 'Pocatello, ID', 'Ponce, PR', 'Portland, ME',
       'Portland, OR', 'Providence, RI', 'Punta Gorda, FL',
       'Raleigh/Durham, NC', 'Rapid City, SD', 'Redding, CA', 'Reno, NV',
       'Rhinelander, WI', 'Richmond, VA', 'Roanoke, VA', 'Rochester, MN',
       'Rochester, NY', 'Rock Springs, WY', 'Roswell, NM',
       'Sacramento, CA', 'Saginaw/Bay City/Midland, MI',
       'Salt Lake City, UT', 'San Angelo, TX', 'San Antonio, TX',
       'San Diego, CA', 'San Francisco, CA', 'San Jose, CA',
       'San Juan, PR', 'San Luis Obispo, CA', 'Santa Ana, CA',
       'Santa Barbara, CA', 'Santa Fe, NM', 'Santa Maria, CA',
       'Sarasota/Bradenton, FL', 'Sault Ste. Marie, MI', 'Savannah, GA',
       'Scranton/Wilkes-Barre, PA', 'Seattle, WA', 'Shreveport, LA',
       'Sioux Falls, SD', 'Sitka, AK', 'South Bend, IN', 'Spokane, WA',
       'Springfield, IL', 'Springfield, MO', 'St. Augustine, FL',
       'St. George, UT', 'St. Louis, MO', 'State College, PA',
       'Sun Valley/Hailey/Ketchum, ID', 'Syracuse, NY', 'Tallahassee, FL',
       'Tampa, FL', 'Texarkana, AR', 'Traverse City, MI', 'Trenton, NJ',
       'Tucson, AZ', 'Tulsa, OK', 'Twin Falls, ID', 'Tyler, TX',
       'Valdosta, GA', 'Valparaiso, FL', 'Waco, TX', 'Washington, DC',
       'West Palm Beach/Palm Beach, FL', 'West Yellowstone, MT',
       'White Plains, NY', 'Wichita Falls, TX', 'Wichita, KS',
       'Williston, ND', 'Wilmington, NC', 'Worcester, MA', 'Wrangell, AK',
       'Yakutat, AK', 'Yuma, AZ'], dtype=object), 'origin_state_abr': array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'FL', 'GA', 'HI', 'IA',
       'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN',
       'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY',
       'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TT', 'TX',
       'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object), 'origin_state_nm': array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas',
       'U.S. Pacific Trust Territories and Possessions',
       'U.S. Virgin Islands', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object), 'dest_airport_id': array([10135, 10136, 10140, 10141, 10146, 10154, 10155, 10157, 10158,
       10165, 10170, 10185, 10208, 10245, 10257, 10279, 10299, 10333,
       10372, 10397, 10408, 10423, 10431, 10434, 10469, 10529, 10551,
       10561, 10577, 10581, 10599, 10620, 10627, 10631, 10666, 10685,
       10693, 10713, 10721, 10728, 10731, 10732, 10739, 10747, 10754,
       10779, 10781, 10785, 10792, 10800, 10821, 10849, 10868, 10874,
       10918, 10926, 10980, 10990, 10994, 11003, 11013, 11042, 11049,
       11057, 11066, 11076, 11097, 11109, 11122, 11140, 11146, 11150,
       11193, 11203, 11252, 11259, 11267, 11278, 11292, 11298, 11308,
       11336, 11337, 11413, 11423, 11433, 11447, 11471, 11481, 11503,
       11525, 11537, 11540, 11577, 11587, 11603, 11612, 11617, 11618,
       11624, 11630, 11637, 11638, 11641, 11648, 11695, 11697, 11721,
       11775, 11778, 11823, 11865, 11867, 11884, 11898, 11905, 11921,
       11953, 11973, 11977, 11980, 11982, 11986, 11995, 11996, 11997,
       12003, 12007, 12012, 12016, 12094, 12129, 12156, 12173, 12177,
       12191, 12197, 12206, 12217, 12250, 12255, 12264, 12265, 12266,
       12278, 12280, 12323, 12335, 12339, 12343, 12389, 12391, 12397,
       12402, 12441, 12448, 12451, 12478, 12511, 12519, 12523, 12758,
       12819, 12884, 12888, 12889, 12891, 12892, 12896, 12898, 12915,
       12945, 12951, 12953, 12954, 12982, 12992, 13029, 13061, 13076,
       13127, 13158, 13184, 13198, 13204, 13230, 13232, 13241, 13244,
       13256, 13264, 13277, 13296, 13303, 13342, 13344, 13360, 13367,
       13377, 13388, 13422, 13433, 13459, 13476, 13485, 13486, 13487,
       13495, 13502, 13541, 13577, 13795, 13796, 13830, 13851, 13871,
       13873, 13891, 13930, 13931, 13933, 13964, 13970, 14006, 14025,
       14027, 14057, 14082, 14098, 14100, 14107, 14108, 14109, 14113,
       14122, 14150, 14193, 14222, 14252, 14254, 14256, 14262, 14307,
       14321, 14457, 14487, 14489, 14492, 14520, 14524, 14543, 14570,
       14574, 14576, 14588, 14633, 14635, 14674, 14679, 14683, 14685,
       14689, 14696, 14698, 14709, 14711, 14730, 14747, 14771, 14783,
       14794, 14814, 14828, 14831, 14842, 14843, 14869, 14893, 14905,
       14908, 14952, 14960, 14986, 15016, 15024, 15027, 15041, 15070,
       15096, 15249, 15304, 15323, 15356, 15370, 15376, 15380, 15389,
       15401, 15411, 15412, 15497, 15607, 15624, 15841, 15897, 15919,
       15991, 16218], dtype=int64), 'dest_airport_seq_id': array([1013503, 1013603, 1014003, 1014103, 1014602, 1015403, 1015502,
       1015703, 1015804, 1016503, 1016504, 1017001, 1018502, 1020803,
       1024502, 1025702, 1027903, 1029904, 1033302, 1037203, 1039705,
       1040803, 1042302, 1043103, 1043403, 1046902, 1052904, 1055102,
       1056103, 1057703, 1058102, 1059904, 1062002, 1062702, 1063104,
       1066602, 1068502, 1069302, 1071302, 1072102, 1072804, 1073103,
       1073203, 1073905, 1074702, 1075403, 1077902, 1078103, 1078502,
       1079204, 1080003, 1082103, 1082104, 1084903, 1086803, 1087402,
       1091802, 1092603, 1098002, 1099002, 1099003, 1099402, 1100303,
       1101303, 1104203, 1104902, 1105703, 1106603, 1107602, 1109702,
       1110902, 1112203, 1114005, 1114006, 1114604, 1115003, 1119302,
       1120302, 1125203, 1125903, 1126702, 1127803, 1129202, 1129804,
       1130802, 1133602, 1133703, 1141304, 1142304, 1143302, 1144703,
       1147103, 1148102, 1150303, 1152503, 1153703, 1154003, 1157704,
       1158702, 1160302, 1161204, 1161706, 1161802, 1162402, 1163002,
       1163703, 1163805, 1164102, 1164802, 1169502, 1169704, 1172103,
       1177502, 1177801, 1182304, 1186502, 1186703, 1188402, 1189802,
       1190502, 1192102, 1195302, 1197302, 1197702, 1197703, 1198002,
       1198202, 1198603, 1199502, 1199603, 1199702, 1200302, 1200702,
       1201203, 1201602, 1209402, 1212903, 1215603, 1217302, 1217703,
       1219102, 1219702, 1220603, 1221702, 1225002, 1225502, 1226402,
       1226503, 1226603, 1227803, 1228002, 1232303, 1233502, 1233904,
       1234303, 1238902, 1239102, 1239702, 1240203, 1244102, 1244805,
       1245102, 1247803, 1251102, 1251902, 1252304, 1275803, 1281902,
       1288403, 1288802, 1288903, 1289102, 1289203, 1289204, 1289605,
       1289803, 1289804, 1291503, 1294503, 1295104, 1295302, 1295402,
       1295403, 1298202, 1299204, 1302902, 1306104, 1307603, 1312702,
       1315802, 1318403, 1319801, 1320402, 1323002, 1323202, 1324102,
       1324402, 1325602, 1326403, 1327702, 1329604, 1330303, 1334205,
       1334402, 1336003, 1336703, 1337702, 1338801, 1342202, 1343302,
       1345902, 1347603, 1348502, 1348602, 1348702, 1349503, 1350202,

                                              origin_airport_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                10135
                                      5579                10135
                  ORD  EV             6021                10135
           ABQ    ATL  DL             1784                10140
                                      2007                10140

                                              origin_airport_seq_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                  1013503
                                      5579                  1013503
                  ORD  EV             6021                  1013503
           ABQ    ATL  DL             1784                  1014003
                                      2007                  1014003

                                              origin_city_market_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                    30135
                                      5579                    30135
                  ORD  EV             6021                    30135
           ABQ    ATL  DL             1784                    30140
                                      2007                    30140

                                                            origin_city_name  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197    Allentown/Bethlehem/Easton, PA
                                      5579    Allentown/Bethlehem/Easton, PA
                  ORD  EV             6021    Allentown/Bethlehem/Easton, PA
           ABQ    ATL  DL             1784                   Albuquerque, NM
                                      2007                   Albuquerque, NM

                                             origin_state_abr origin_state_nm  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                 PA    Pennsylvania
                                      5579                 PA    Pennsylvania
                  ORD  EV             6021                 PA    Pennsylvania
           ABQ    ATL  DL             1784                 NM      New Mexico
                                      2007                 NM      New Mexico

                                              dest_airport_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197              10397
                                      5579              10397
                  ORD  EV             6021              13930
           ABQ    ATL  DL             1784              10397
                                      2007              10397

                                              dest_airport_seq_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                1039705
                                      5579                1039705
                  ORD  EV             6021                1393004
           ABQ    ATL  DL             1784                1039705
                                      2007                1039705

                                              dest_city_market_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                  30397
                                      5579                  30397
                  ORD  EV             6021                  30977
           ABQ    ATL  DL             1784                  30397
                                      2007                  30397

                                             dest_city_name dest_state_abr  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197      Atlanta, GA             GA
                                      5579      Atlanta, GA             GA
                  ORD  EV             6021      Chicago, IL             IL
           ABQ    ATL  DL             1784      Atlanta, GA             GA
                                      2007      Atlanta, GA             GA

                                             dest_state_nm
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197         Georgia
                                      5579         Georgia
                  ORD  EV             6021        Illinois
           ABQ    ATL  DL             1784         Georgia
                                      2007         Georgia

In [295]:
'''Drop airport_seq_id columns as they are proxy to airport_id
    - avoids identifying airports with multiple seq_id instances as different airports
'''
location_info = location_info.drop(columns=['origin_airport_seq_id','dest_airport_seq_id'])
    
#view resulting dataframe on flight origin and destination
location_info.head()

                                              origin_airport_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                10135
                                      5579                10135
                  ORD  EV             6021                10135
           ABQ    ATL  DL             1784                10140
                                      2007                10140

                                              origin_city_market_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                    30135
                                      5579                    30135
                  ORD  EV             6021                    30135
           ABQ    ATL  DL             1784                    30140
                                      2007                    30140

                                                            origin_city_name  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197    Allentown/Bethlehem/Easton, PA
                                      5579    Allentown/Bethlehem/Easton, PA
                  ORD  EV             6021    Allentown/Bethlehem/Easton, PA
           ABQ    ATL  DL             1784                   Albuquerque, NM
                                      2007                   Albuquerque, NM

                                             origin_state_abr origin_state_nm  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                 PA    Pennsylvania
                                      5579                 PA    Pennsylvania
                  ORD  EV             6021                 PA    Pennsylvania
           ABQ    ATL  DL             1784                 NM      New Mexico
                                      2007                 NM      New Mexico

                                              dest_airport_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197              10397
                                      5579              10397
                  ORD  EV             6021              13930
           ABQ    ATL  DL             1784              10397
                                      2007              10397

                                              dest_city_market_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                  30397
                                      5579                  30397
                  ORD  EV             6021                  30977
           ABQ    ATL  DL             1784                  30397
                                      2007                  30397

                                             dest_city_name dest_state_abr  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197      Atlanta, GA             GA
                                      5579      Atlanta, GA             GA
                  ORD  EV             6021      Chicago, IL             IL
           ABQ    ATL  DL             1784      Atlanta, GA             GA
                                      2007      Atlanta, GA             GA

                                             dest_state_nm
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197         Georgia
                                      5579         Georgia
                  ORD  EV             6021        Illinois
           ABQ    ATL  DL             1784         Georgia
                                      2007         Georgia

In [296]:
"""Remove state abbreviation suffix from city_name values
    - already present in state_abr columns
    - create function to remove abbreviations from list of columns in a dataframe
"""
def remove_abbr(dataframe, lst_of_columns):
    for col in lst_of_columns:
        dataframe[col] = dataframe[col].str[:-4]

#call function on location info for origin and destination city name columns
remove_abbr(location_info,['origin_city_name','dest_city_name'])

#view final dataframe on flight origin and destination
location_info.head()

                                              origin_airport_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                10135
                                      5579                10135
                  ORD  EV             6021                10135
           ABQ    ATL  DL             1784                10140
                                      2007                10140

                                              origin_city_market_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                    30135
                                      5579                    30135
                  ORD  EV             6021                    30135
           ABQ    ATL  DL             1784                    30140
                                      2007                    30140

                                                        origin_city_name  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197    Allentown/Bethlehem/Easton
                                      5579    Allentown/Bethlehem/Easton
                  ORD  EV             6021    Allentown/Bethlehem/Easton
           ABQ    ATL  DL             1784                   Albuquerque
                                      2007                   Albuquerque

                                             origin_state_abr origin_state_nm  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                 PA    Pennsylvania
                                      5579                 PA    Pennsylvania
                  ORD  EV             6021                 PA    Pennsylvania
           ABQ    ATL  DL             1784                 NM      New Mexico
                                      2007                 NM      New Mexico

                                              dest_airport_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197              10397
                                      5579              10397
                  ORD  EV             6021              13930
           ABQ    ATL  DL             1784              10397
                                      2007              10397

                                              dest_city_market_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                  30397
                                      5579                  30397
                  ORD  EV             6021                  30977
           ABQ    ATL  DL             1784                  30397
                                      2007                  30397

                                             dest_city_name dest_state_abr  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197          Atlanta             GA
                                      5579          Atlanta             GA
                  ORD  EV             6021          Chicago             IL
           ABQ    ATL  DL             1784          Atlanta             GA
                                      2007          Atlanta             GA

                                             dest_state_nm
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197         Georgia
                                      5579         Georgia
                  ORD  EV             6021        Illinois
           ABQ    ATL  DL             1784         Georgia
                                      2007         Georgia

### Metrics

#### Bureau of Transportation Statistics Definitions Cont'd

Status of a Flight can be one of the following:

    Delayed: Flight will depart 15 or more minutes after its scheduled departure time.

    Departed: Flight has left the departure gate but may not be airborne yet.

    In Air: Flight is airborne. Takeoff time is actual takeoff or "wheels up" time. The arrival time is estimated. 

    Expected: A FlightView data source indicates flight is expected to arrive at arrival airport.

    Diverted: Flight has been diverted from its scheduled destination to a different location.

    Recovery: Flight had departed the diverted location and enroute or landed at the scheduled destination.

    Landed: Flight has landed. The landing time is actual touchdown or "wheels down."

    Arrived: Flight has arrived at its destination gate.

    Cancelled: Flight has been cancelled.

CrsDepTime 
    - Course Departure Time is the scheduled time, in 24-hr notation, at which the flight is meant to enter 'Departed' status
DepTime
    - Departure Time is the actual time, in 24-hr notation, at which the flight entered 'Departed' status
DepDelay
    - Departure Delay is the deviation, in minutes, of DepTime from CrsDepTime
DepDelayNew
    - Departure Delay New is the deviation, in minutes, of DepTime from CrsDepTime, accounting only for instances of late departure i.e. positive values in DepDelay
WheelsOn
    - The time, in 24-hr notation, at which the flight has gone from 'In Air' status to 'Landed' status
TaxiIn
    - Time, in minutes, which flight spends in 'Landed' status before arriving at destination gate and reaching 'Arrived' status
CrsArrTime
    - Course Arrival Time is the scheduled time, in 24-hr notation, at which the flight is meant to enter 'Arrived' status
ArrTime
    - Arrival Time is the actual time, in 24-hr notation, at which the flight entered 'Arrived' status
ArrDelay
    - Arrival Delay is the deviation, in minutes, of ArrTime from CrsArrTime
ArrDelayNew
    - Arrival Delay New is the deviation, in minutes, of ArrTime from CrsArrTime, accounting only for instances of late arrival i.e. positive values in ArrDelay
CrsElapsedTime
    - Scheduled duration of flight, from 'Departed' status to 'Arrived' status, in minutes
ActualElapsedTime
    - Actual duration of flight, from 'Departed' status to 'Arrived' status, in minutes
AirTime
    - Time, in minutes, which flight spends in 'In Air' status
Flights
    - number of flights accounted for in row
Distance
    - Distance, in miles, between origin airport location and destination airport location

In [297]:
#view unique values in flight metrics columns
print(uv_dict(flight_metrics))

#view columns pertaining to flight metrics
flight_metrics.head()

{'crs_dep_time': array([   1,    2,    3, ..., 2357, 2358, 2359], dtype=int64), 'dep_time': array([1.000e+00, 2.000e+00, 3.000e+00, ..., 2.358e+03, 2.359e+03,
       2.400e+03]), 'dep_delay': array([ -60.,  -58.,  -54., ..., 1663., 1964., 2040.]), 'dep_delay_new': array([0.000e+00, 1.000e+00, 2.000e+00, ..., 1.663e+03, 1.964e+03,
       2.040e+03]), 'wheels_on': array([1.000e+00, 2.000e+00, 3.000e+00, ..., 2.358e+03, 2.359e+03,
       2.400e+03]), 'taxi_in': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100., 101., 102., 103., 104., 105., 106., 107., 108., 109., 110.,
       111., 112., 113., 114., 115., 116., 117., 118., 119., 120., 121.,
       122., 123., 124., 125., 126., 127., 128., 129., 130., 131., 132.,
       133., 134., 135., 136., 137., 138., 139., 140., 141., 142., 143.,
       144., 145., 146., 147., 148., 149., 150., 151., 152., 153., 154.,
       155., 158., 159., 160., 161., 162., 163., 165., 166., 167., 169.,
       171., 173., 177., 182., 184., 186., 187., 189., 192., 194., 196.,
       200., 202., 205., 209., 213., 216., 226., 228., 247., 250.]), 'crs_arr_time': array([   1,    2,    3, ..., 2357, 2358, 2359], dtype=int64), 'arr_time': array([1.000e+00, 2.000e+00, 3.000e+00, ..., 2.358e+03, 2.359e+03,
       2.400e+03]), 'arr_delay': array([-107., -106., -102., ..., 1659., 1971., 2028.]), 'arr_delay_new': array([0.000e+00, 1.000e+00, 2.000e+00, ..., 1.659e+03, 1.971e+03,
       2.028e+03]), 'crs_elapsed_time': array([ 20.,  21.,  22.,  23.,  24.,  25.,  27.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 112., 113., 114., 115., 116., 117., 118., 119., 120.,
       121., 122., 123., 124., 125., 126., 127., 128., 129., 130., 131.,
       132., 133., 134., 135., 136., 137., 138., 139., 140., 141., 142.,
       143., 144., 145., 146., 147., 148., 149., 150., 151., 152., 153.,
       154., 155., 156., 157., 158., 159., 160., 161., 162., 163., 164.,
       165., 166., 167., 168., 169., 170., 171., 172., 173., 174., 175.,
       176., 177., 178., 179., 180., 181., 182., 183., 184., 185., 186.,
       187., 188., 189., 190., 191., 192., 193., 194., 195., 196., 197.,
       198., 199., 200., 201., 202., 203., 204., 205., 206., 207., 208.,
       209., 210., 211., 212., 213., 214., 215., 216., 217., 218., 219.,
       220., 221., 222., 223., 224., 225., 226., 227., 228., 229., 230.,
       231., 232., 233., 234., 235., 236., 237., 238., 239., 240., 241.,
       242., 243., 244., 245., 246., 247., 248., 249., 250., 251., 252.,
       253., 254., 255., 256., 257., 258., 259., 260., 261., 262., 263.,
       264., 265., 266., 267., 268., 269., 270., 271., 272., 273., 274.,
       275., 276., 277., 278., 279., 280., 281., 282., 283., 284., 285.,
       286., 287., 288., 289., 290., 291., 292., 293., 294., 295., 296.,
       297., 298., 299., 300., 301., 302., 303., 304., 305., 306., 307.,
       308., 309., 310., 311., 312., 313., 314., 315., 316., 317., 318.,
       319., 320., 321., 322., 323., 324., 325., 326., 327., 328., 329.,
       330., 331., 332., 333., 334., 335., 336., 337., 338., 339., 340.,
       341., 342., 343., 344., 345., 346., 347., 348., 349., 350., 351.,
       352., 353., 354., 355., 356., 357., 358., 359., 360., 361., 362.,
       363., 364., 365., 366., 367., 368., 369., 370., 371., 372., 373.,
       374., 375., 376., 377., 378., 379., 380., 381., 382., 383., 384.,
       385., 386., 387., 388., 389., 390., 391., 392., 393., 394., 395.,
       396., 397., 398., 399., 400., 401., 402., 403., 404., 405., 406.,
       407., 408., 409., 410., 411., 412., 413., 414., 415., 416., 417.,
       418., 419., 420., 421., 422., 423., 424., 425., 426., 427., 428.,
       429., 430., 432., 433., 435., 437., 438., 439., 440., 442., 443.,
       444., 445., 446., 447., 448., 449., 450., 451., 452., 455., 456.,
       457., 459., 460., 462., 463., 464., 465., 466., 469., 470., 471.,
       472., 473., 475., 476., 477., 480., 482., 485., 486., 489., 490.,
       493., 496., 497., 500., 503., 504., 506., 507., 508., 509., 511.,
       512., 514., 515., 516., 517., 518., 520., 521., 524., 525., 526.,
       527., 528., 529., 530., 531., 537., 542., 544., 545., 546., 548.,
       549., 552., 555., 558., 559., 560., 562., 565., 569., 570., 571.,
       573., 574., 575., 576., 577., 578., 579., 581., 584., 585., 588.,
       589., 591., 604., 606., 610., 611., 613., 614., 615., 616., 617.,
       618., 625., 646., 647., 654., 655., 660., 670., 672., 675., 683.,
       685., 686., 698., 704., 705.]), 'actual_elapsed_time': array([ 14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,  23.,  24.,
        25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,  34.,  35.,
        36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,  45.,  46.,
        47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,  56.,  57.,
        58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,  67.,  68.,
        69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,  78.,  79.,
        80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,  89.,  90.,
        91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99., 100., 101.,
       102., 103., 104., 105., 106., 107., 108., 109., 110., 111., 112.,
       113., 114., 115., 116., 117., 118., 119., 120., 121., 122., 123.,
       124., 125., 126., 127., 128., 129., 130., 131., 132., 133., 134.,
       135., 136., 137., 138., 139., 140., 141., 142., 143., 144., 145.,
       146., 147., 148., 149., 150., 151., 152., 153., 154., 155., 156.,
       157., 158., 159., 160., 161., 162., 163., 164., 165., 166., 167.,
       168., 169., 170., 171., 172., 173., 174., 175., 176., 177., 178.,
       179., 180., 181., 182., 183., 184., 185., 186., 187., 188., 189.,
       190., 191., 192., 193., 194., 195., 196., 197., 198., 199., 200.,
       201., 202., 203., 204., 205., 206., 207., 208., 209., 210., 211.,
       212., 213., 214., 215., 216., 217., 218., 219., 220., 221., 222.,
       223., 224., 225., 226., 227., 228., 229., 230., 231., 232., 233.,
       234., 235., 236., 237., 238., 239., 240., 241., 242., 243., 244.,
       245., 246., 247., 248., 249., 250., 251., 252., 253., 254., 255.,
       256., 257., 258., 259., 260., 261., 262., 263., 264., 265., 266.,
       267., 268., 269., 270., 271., 272., 273., 274., 275., 276., 277.,
       278., 279., 280., 281., 282., 283., 284., 285., 286., 287., 288.,
       289., 290., 291., 292., 293., 294., 295., 296., 297., 298., 299.,
       300., 301., 302., 303., 304., 305., 306., 307., 308., 309., 310.,
       311., 312., 313., 314., 315., 316., 317., 318., 319., 320., 321.,
       322., 323., 324., 325., 326., 327., 328., 329., 330., 331., 332.,
       333., 334., 335., 336., 337., 338., 339., 340., 341., 342., 343.,
       344., 345., 346., 347., 348., 349., 350., 351., 352., 353., 354.,
       355., 356., 357., 358., 359., 360., 361., 362., 363., 364., 365.,
       366., 367., 368., 369., 370., 371., 372., 373., 374., 375., 376.,
       377., 378., 379., 380., 381., 382., 383., 384., 385., 386., 387.,
       388., 389., 390., 391., 392., 393., 394., 395., 396., 397., 398.,
       399., 400., 401., 402., 403., 404., 405., 406., 407., 408., 409.,
       410., 411., 412., 413., 414., 415., 416., 417., 418., 419., 420.,
       421., 422., 423., 424., 425., 426., 427., 428., 429., 430., 431.,
       432., 433., 434., 435., 436., 437., 438., 439., 440., 441., 442.,
       443., 444., 445., 446., 447., 448., 449., 450., 451., 452., 453.,
       454., 455., 456., 457., 458., 459., 460., 461., 462., 463., 464.,
       465., 466., 467., 468., 469., 470., 471., 472., 473., 474., 475.,
       476., 477., 478., 479., 480., 481., 482., 483., 484., 485., 486.,
       487., 488., 489., 490., 491., 492., 493., 494., 495., 496., 497.,
       498., 499., 500., 501., 502., 503., 504., 505., 506., 507., 508.,
       509., 510., 511., 512., 513., 514., 515., 516., 517., 518., 519.,
       520., 521., 522., 523., 524., 525., 526., 527., 528., 529., 530.,
       531., 532., 533., 534., 535., 536., 537., 538., 539., 540., 541.,
       542., 543., 544., 545., 546., 547., 548., 549., 550., 551., 552.,
       553., 554., 555., 556., 557., 558., 559., 560., 561., 562., 563.,
       564., 565., 566., 567., 568., 569., 570., 571., 572., 573., 574.,
       575., 576., 577., 578., 579., 580., 581., 582., 583., 584., 585.,
       586., 587., 588., 589., 590., 591., 592., 593., 594., 595., 596.,
       597., 598., 599., 600., 601., 602., 603., 604., 605., 606., 607.,
       608., 609., 610., 611., 612., 613., 614., 615., 616., 617., 618.,
       619., 620., 621., 622., 623., 624., 625., 626., 627., 628., 629.,
       630., 631., 632., 633., 634., 635., 636., 637., 638., 639., 640.,
       641., 642., 643., 644., 645., 646., 647., 648., 649., 650., 651.,
       652., 653., 654., 655., 656., 657., 658., 659., 660., 661., 662.,
       663., 664., 665., 666., 668., 669., 670., 671., 672., 673., 675.,
       676., 677., 678., 679., 680., 682., 683., 684., 685., 686., 687.,
       688., 689., 690., 691., 692., 693., 695., 696., 697., 698., 700.,
       701., 702., 705., 706., 707., 709., 712., 715., 716., 717., 720.,
       721., 726., 730., 731., 733., 734., 741., 753., 759., 778.]), 'air_time': array([  7.,   8.,   9.,  10.,  11.,  12.,  13.,  14.,  15.,  16.,  17.,
        18.,  19.,  20.,  21.,  22.,  23.,  24.,  25.,  26.,  27.,  28.,
        29.,  30.,  31.,  32.,  33.,  34.,  35.,  36.,  37.,  38.,  39.,
        40.,  41.,  42.,  43.,  44.,  45.,  46.,  47.,  48.,  49.,  50.,
        51.,  52.,  53.,  54.,  55.,  56.,  57.,  58.,  59.,  60.,  61.,
        62.,  63.,  64.,  65.,  66.,  67.,  68.,  69.,  70.,  71.,  72.,
        73.,  74.,  75.,  76.,  77.,  78.,  79.,  80.,  81.,  82.,  83.,
        84.,  85.,  86.,  87.,  88.,  89.,  90.,  91.,  92.,  93.,  94.,
        95.,  96.,  97.,  98.,  99., 100., 101., 102., 103., 104., 105.,
       106., 107., 108., 109., 110., 111., 112., 113., 114., 115., 116.,
       117., 118., 119., 120., 121., 122., 123., 124., 125., 126., 127.,
       128., 129., 130., 131., 132., 133., 134., 135., 136., 137., 138.,
       139., 140., 141., 142., 143., 144., 145., 146., 147., 148., 149.,
       150., 151., 152., 153., 154., 155., 156., 157., 158., 159., 160.,
       161., 162., 163., 164., 165., 166., 167., 168., 169., 170., 171.,
       172., 173., 174., 175., 176., 177., 178., 179., 180., 181., 182.,
       183., 184., 185., 186., 187., 188., 189., 190., 191., 192., 193.,
       194., 195., 196., 197., 198., 199., 200., 201., 202., 203., 204.,
       205., 206., 207., 208., 209., 210., 211., 212., 213., 214., 215.,
       216., 217., 218., 219., 220., 221., 222., 223., 224., 225., 226.,
       227., 228., 229., 230., 231., 232., 233., 234., 235., 236., 237.,
       238., 239., 240., 241., 242., 243., 244., 245., 246., 247., 248.,
       249., 250., 251., 252., 253., 254., 255., 256., 257., 258., 259.,
       260., 261., 262., 263., 264., 265., 266., 267., 268., 269., 270.,
       271., 272., 273., 274., 275., 276., 277., 278., 279., 280., 281.,
       282., 283., 284., 285., 286., 287., 288., 289., 290., 291., 292.,
       293., 294., 295., 296., 297., 298., 299., 300., 301., 302., 303.,
       304., 305., 306., 307., 308., 309., 310., 311., 312., 313., 314.,
       315., 316., 317., 318., 319., 320., 321., 322., 323., 324., 325.,
       326., 327., 328., 329., 330., 331., 332., 333., 334., 335., 336.,
       337., 338., 339., 340., 341., 342., 343., 344., 345., 346., 347.,
       348., 349., 350., 351., 352., 353., 354., 355., 356., 357., 358.,
       359., 360., 361., 362., 363., 364., 365., 366., 367., 368., 369.,
       370., 371., 372., 373., 374., 375., 376., 377., 378., 379., 380.,
       381., 382., 383., 384., 385., 386., 387., 388., 389., 390., 391.,
       392., 393., 394., 395., 396., 397., 398., 399., 400., 401., 402.,
       403., 404., 405., 406., 407., 408., 409., 410., 411., 412., 413.,
       414., 415., 416., 417., 418., 419., 420., 421., 422., 423., 424.,
       425., 426., 427., 428., 429., 430., 431., 432., 433., 434., 435.,
       436., 437., 438., 439., 440., 441., 442., 443., 444., 445., 446.,
       447., 448., 449., 450., 451., 452., 453., 454., 455., 456., 457.,
       458., 459., 460., 461., 462., 463., 464., 465., 466., 467., 468.,
       469., 470., 471., 472., 473., 474., 475., 476., 477., 478., 479.,
       480., 481., 482., 483., 484., 485., 486., 487., 488., 489., 490.,
       491., 492., 493., 494., 495., 496., 497., 498., 499., 500., 501.,
       502., 503., 504., 505., 506., 507., 508., 509., 510., 511., 512.,
       513., 514., 515., 516., 517., 518., 519., 520., 521., 522., 523.,
       524., 525., 526., 527., 528., 529., 530., 531., 532., 533., 534.,
       535., 536., 537., 538., 539., 540., 541., 542., 543., 544., 545.,
       546., 547., 548., 549., 550., 551., 552., 553., 554., 555., 556.,
       557., 558., 559., 560., 561., 562., 563., 564., 565., 566., 567.,
       568., 569., 570., 571., 572., 573., 574., 575., 576., 577., 578.,
       579., 580., 581., 582., 583., 584., 585., 586., 587., 588., 589.,
       590., 591., 592., 593., 594., 595., 596., 597., 598., 599., 600.,
       601., 602., 603., 604., 605., 606., 607., 608., 609., 610., 611.,
       612., 613., 614., 615., 616., 617., 618., 619., 620., 621., 622.,
       623., 624., 625., 627., 628., 629., 631., 632., 633., 634., 635.,
       636., 637., 638., 639., 640., 641., 642., 643., 644., 645., 646.,
       647., 648., 649., 651., 653., 654., 655., 656., 657., 658., 659.,
       660., 661., 662., 663., 664., 666., 667., 668., 669., 671., 672.,
       673., 674., 676., 678., 679., 681., 682., 683., 684., 685., 688.,
       689., 691., 695., 696., 698., 699., 713., 723.]), 'flights': array([1.]), 'distance': array([  28.,   31.,   41., ..., 4817., 4962., 4983.])}

                                              crs_dep_time  dep_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197            1610    1609.0
                                      5579             630     700.0
                  ORD  EV             6021             651     718.0
           ABQ    ATL  DL             1784            1315    1341.0
                                      2007             800     757.0

                                              dep_delay  dep_delay_new  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197         -1.0            0.0
                                      5579         30.0           30.0
                  ORD  EV             6021         27.0           27.0
           ABQ    ATL  DL             1784         26.0           26.0
                                      2007         -3.0            0.0

                                              wheels_on  taxi_in  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197       1812.0      5.0
                                      5579        900.0      7.0
                  ORD  EV             6021        824.0      8.0
           ABQ    ATL  DL             1784       1813.0      6.0
                                      2007       1230.0      4.0

                                              crs_arr_time  arr_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197            1828    1817.0
                                      5579             845     907.0
                  ORD  EV             6021             811     832.0
           ABQ    ATL  DL             1784            1810    1819.0
                                      2007            1258    1234.0

                                              arr_delay  arr_delay_new  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197        -11.0            0.0
                                      5579         22.0           22.0
                  ORD  EV             6021         21.0           21.0
           ABQ    ATL  DL             1784          9.0            9.0
                                      2007        -24.0            0.0

                                              crs_elapsed_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197               138.0
                                      5579               135.0
                  ORD  EV             6021               140.0
           ABQ    ATL  DL             1784               175.0
                                      2007               178.0

                                              actual_elapsed_time  air_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                  128.0     115.0
                                      5579                  127.0     111.0
                  ORD  EV             6021                  134.0     117.0
           ABQ    ATL  DL             1784                  158.0     139.0
                                      2007                  157.0     142.0

                                              flights  distance
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197        1.0     692.0
                                      5579        1.0     692.0
                  ORD  EV             6021        1.0     655.0
           ABQ    ATL  DL             1784        1.0    1269.0
                                      2007        1.0    1269.0

In [298]:
'''remove flights column from metrics dataframe
    - all rows contain only one flight i.e. column values are redundant
'''
flight_metrics = flight_metrics.drop(columns='flights')

#view resulting flight metrics dataframe
flight_metrics.head()

                                              crs_dep_time  dep_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197            1610    1609.0
                                      5579             630     700.0
                  ORD  EV             6021             651     718.0
           ABQ    ATL  DL             1784            1315    1341.0
                                      2007             800     757.0

                                              dep_delay  dep_delay_new  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197         -1.0            0.0
                                      5579         30.0           30.0
                  ORD  EV             6021         27.0           27.0
           ABQ    ATL  DL             1784         26.0           26.0
                                      2007         -3.0            0.0

                                              wheels_on  taxi_in  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197       1812.0      5.0
                                      5579        900.0      7.0
                  ORD  EV             6021        824.0      8.0
           ABQ    ATL  DL             1784       1813.0      6.0
                                      2007       1230.0      4.0

                                              crs_arr_time  arr_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197            1828    1817.0
                                      5579             845     907.0
                  ORD  EV             6021             811     832.0
           ABQ    ATL  DL             1784            1810    1819.0
                                      2007            1258    1234.0

                                              arr_delay  arr_delay_new  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197        -11.0            0.0
                                      5579         22.0           22.0
                  ORD  EV             6021         21.0           21.0
           ABQ    ATL  DL             1784          9.0            9.0
                                      2007        -24.0            0.0

                                              crs_elapsed_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197               138.0
                                      5579               135.0
                  ORD  EV             6021               140.0
           ABQ    ATL  DL             1784               175.0
                                      2007               178.0

                                              actual_elapsed_time  air_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                  128.0     115.0
                                      5579                  127.0     111.0
                  ORD  EV             6021                  134.0     117.0
           ABQ    ATL  DL             1784                  158.0     139.0
                                      2007                  157.0     142.0

                                              distance
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197       692.0
                                      5579       692.0
                  ORD  EV             6021       655.0
           ABQ    ATL  DL             1784      1269.0
                                      2007      1269.0

In [299]:
'''rename delay columns for clarity
    - dep_delay and arr_delay to dep_deviation and arr_deviation
        - as values can also indicate instances of early flights
    - dep_delay_new and arr_delay_new to dep_delay and arr_delay
        - as they are exclusively indicative of flight delay
'''
flight_metrics.rename(columns={'dep_delay':'dep_dev', 'dep_delay_new':'dep_delay', 'arr_delay':'arr_dev','arr_delay_new':'arr_delay'}, inplace=True)

#view resulting flight metrics dataframe
flight_metrics.head()

                                              crs_dep_time  dep_time  dep_dev  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197            1610    1609.0     -1.0
                                      5579             630     700.0     30.0
                  ORD  EV             6021             651     718.0     27.0
           ABQ    ATL  DL             1784            1315    1341.0     26.0
                                      2007             800     757.0     -3.0

                                              dep_delay  wheels_on  taxi_in  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197          0.0     1812.0      5.0
                                      5579         30.0      900.0      7.0
                  ORD  EV             6021         27.0      824.0      8.0
           ABQ    ATL  DL             1784         26.0     1813.0      6.0
                                      2007          0.0     1230.0      4.0

                                              crs_arr_time  arr_time  arr_dev  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197            1828    1817.0    -11.0
                                      5579             845     907.0     22.0
                  ORD  EV             6021             811     832.0     21.0
           ABQ    ATL  DL             1784            1810    1819.0      9.0
                                      2007            1258    1234.0    -24.0

                                              arr_delay  crs_elapsed_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197          0.0             138.0
                                      5579         22.0             135.0
                  ORD  EV             6021         21.0             140.0
           ABQ    ATL  DL             1784          9.0             175.0
                                      2007          0.0             178.0

                                              actual_elapsed_time  air_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                  128.0     115.0
                                      5579                  127.0     111.0
                  ORD  EV             6021                  134.0     117.0
           ABQ    ATL  DL             1784                  158.0     139.0
                                      2007                  157.0     142.0

                                              distance
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197       692.0
                                      5579       692.0
                  ORD  EV             6021       655.0
           ABQ    ATL  DL             1784      1269.0
                                      2007      1269.0

# Step 4: Create one final flights dataframe

In [300]:
'''Merge edited content-specific dataframes into one 'Flights' dataframe'''
flights = date_info.join(location_info).join(flight_metrics)

#view final flights dataframe
print(flights.shape)
print(flights.isnull().mean())
print(flights.head())
print(flights.tail())

(1824403, 28)
quarter                  0.0
month                    0.0
day_of_month             0.0
day_of_week              0.0
origin_airport_id        0.0
origin_city_market_id    0.0
origin_city_name         0.0
origin_state_abr         0.0
origin_state_nm          0.0
dest_airport_id          0.0
dest_city_market_id      0.0
dest_city_name           0.0
dest_state_abr           0.0
dest_state_nm            0.0
crs_dep_time             0.0
dep_time                 0.0
dep_dev                  0.0
dep_delay                0.0
wheels_on                0.0
taxi_in                  0.0
crs_arr_time             0.0
arr_time                 0.0
arr_dev                  0.0
arr_delay                0.0
crs_elapsed_time         0.0
actual_elapsed_time      0.0
air_time                 0.0
distance                 0.0
dtype: float64
                                              quarter  month  day_of_month  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197          1      1             1
                                      5579          1      1             1
                  ORD  EV             6021          1      1             1
           ABQ    ATL  DL             1784          1      1             1
                                      2007          1      1             1

                                              day_of_week  origin_airport_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197              5              10135
                                      5579              5              10135
                  ORD  EV             6021              5              10135
           ABQ    ATL  DL             1784              5              10140
                                      2007              5              10140

                                              origin_city_market_id  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                    30135
                                      5579                    30135
                  ORD  EV             6021                    30135
           ABQ    ATL  DL             1784                    30140
                                      2007                    30140

                                                        origin_city_name  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197    Allentown/Bethlehem/Easton
                                      5579    Allentown/Bethlehem/Easton
                  ORD  EV             6021    Allentown/Bethlehem/Easton
           ABQ    ATL  DL             1784                   Albuquerque
                                      2007                   Albuquerque

                                             origin_state_abr origin_state_nm  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                 PA    Pennsylvania
                                      5579                 PA    Pennsylvania
                  ORD  EV             6021                 PA    Pennsylvania
           ABQ    ATL  DL             1784                 NM      New Mexico
                                      2007                 NM      New Mexico

                                              dest_airport_id    ...     \
fl_date    origin dest unique_carrier fl_num                     ...
2016-01-01 ABE    ATL  EV             5197              10397    ...
                                      5579              10397    ...
                  ORD  EV             6021              13930    ...
           ABQ    ATL  DL             1784              10397    ...
                                      2007              10397    ...

                                              wheels_on taxi_in crs_arr_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197       1812.0     5.0         1828
                                      5579        900.0     7.0          845
                  ORD  EV             6021        824.0     8.0          811
           ABQ    ATL  DL             1784       1813.0     6.0         1810
                                      2007       1230.0     4.0         1258

                                             arr_time  arr_dev  arr_delay  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197     1817.0    -11.0        0.0
                                      5579      907.0     22.0       22.0
                  ORD  EV             6021      832.0     21.0       21.0
           ABQ    ATL  DL             1784     1819.0      9.0        9.0
                                      2007     1234.0    -24.0        0.0

                                              crs_elapsed_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197               138.0
                                      5579               135.0
                  ORD  EV             6021               140.0
           ABQ    ATL  DL             1784               175.0
                                      2007               178.0

                                              actual_elapsed_time  air_time  \
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197                  128.0     115.0
                                      5579                  127.0     111.0
                  ORD  EV             6021                  134.0     117.0
           ABQ    ATL  DL             1784                  158.0     139.0
                                      2007                  157.0     142.0

                                              distance
fl_date    origin dest unique_carrier fl_num
2016-01-01 ABE    ATL  EV             5197       692.0
                                      5579       692.0
                  ORD  EV             6021       655.0
           ABQ    ATL  DL             1784      1269.0
                                      2007      1269.0

[5 rows x 28 columns]
                                              quarter  month  day_of_month  \
fl_date    origin dest unique_carrier fl_num
2016-12-31 YAK    JNU  AS             66            4     12            31
           YUM    PHX  OO             3011          4     12            31
                                      3063          4     12            31
                                      3068          4     12            31
                                      3106          4     12            31

                                              day_of_week  origin_airport_id  \
fl_date    origin dest unique_carrier fl_num
2016-12-31 YAK    JNU  AS             66                6              15991
           YUM    PHX  OO             3011              6              16218
                                      3063              6              16218
                                      3068              6              16218
                                      3106              6              16218

                                              origin_city_market_id  \
fl_date    origin dest unique_carrier fl_num
2016-12-31 YAK    JNU  AS             66                      35991
           YUM    PHX  OO             3011                    33785
                                      3063                    33785
                                      3068                    33785
                                      3106                    33785

                                             origin_city_name  \
fl_date    origin dest unique_carrier fl_num
2016-12-31 YAK    JNU  AS             66              Yakutat
           YUM    PHX  OO             3011               Yuma
                                      3063               Yuma
                                      3068               Yuma
                                      3106               Yuma

                                             origin_state_abr origin_state_nm  \
fl_date    origin dest unique_carrier fl_num
2016-12-31 YAK    JNU  AS             66                   AK          Alaska
           YUM    PHX  OO             3011                 AZ         Arizona
                                      3063                 AZ         Arizona
                                      3068                 AZ         Arizona
                                      3106                 AZ         Arizona

                                              dest_airport_id    ...     \
fl_date    origin dest unique_carrier fl_num                     ...
2016-12-31 YAK    JNU  AS             66                12523    ...
           YUM    PHX  OO             3011              14107    ...
                                      3063              14107    ...
                                      3068              14107    ...
                                      3106              14107    ...

                                              wheels_on taxi_in crs_arr_time  \
fl_date    origin dest unique_carrier fl_num
2016-12-31 YAK    JNU  AS             66         1838.0     4.0         1919
           YUM    PHX  OO             3011       2009.0    10.0         2021
                                      3063       1317.0    19.0         1338
                                      3068       1248.0    10.0         1223
                                      3106        837.0     9.0          846

                                             arr_time  arr_dev  arr_delay  \
fl_date    origin dest unique_carrier fl_num
2016-12-31 YAK    JNU  AS             66       1842.0    -37.0        0.0
           YUM    PHX  OO             3011     2019.0     -2.0        0.0
                                      3063     1336.0     -2.0        0.0
                                      3068     1258.0     35.0       35.0
                                      3106      846.0      0.0        0.0

                                              crs_elapsed_time  \
fl_date    origin dest unique_carrier fl_num
2016-12-31 YAK    JNU  AS             66                  49.0
           YUM    PHX  OO             3011                66.0
                                      3063                58.0
                                      3068                58.0
                                      3106                61.0

                                              actual_elapsed_time  air_time  \
fl_date    origin dest unique_carrier fl_num
2016-12-31 YAK    JNU  AS             66                     41.0      31.0
           YUM    PHX  OO             3011                   64.0      38.0
                                      3063                   63.0      33.0
                                      3068                   58.0      34.0
                                      3106                   59.0      38.0

                                              distance
fl_date    origin dest unique_carrier fl_num
2016-12-31 YAK    JNU  AS             66         198.0
           YUM    PHX  OO             3011       160.0
                                      3063       160.0
                                      3068       160.0
                                      3106       160.0

[5 rows x 28 columns]